<!-- https://handlebarsjs.com -->

<!DOCTYPE html>
<html>
  <head>
    <title>Simple</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     {{{body}}}
  </body>
</html>
